{% if page.author_profile or layout.author_profile or page.sidebar %}
<div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}

  <nav class="nav__list">
    <h3 class="nav__title" style="padding-left: 0;"><i class="fas fa-fw fa-pen-fancy"></i> BLOG</h3>
    <ul class="nav__items">
      {% for item in site.data.navigation.sidebar_blog %}
      <li><a href="{{ item.url | relative_url }}" class="nav__sub-title">{{ item.title }}</a></li>
      {% endfor %}
    </ul>

    <h3 class="nav__title" style="padding-left: 0;"><i class="fas fa-fw fa-comment-dots"></i> SHORTLOG</h3>
    <ul class="nav__items">
      {% for item in site.data.navigation.sidebar_microblog %}
      <li><a href="{{ item.url | relative_url }}" class="nav__sub-title">{{ item.title }}</a></li>
      {% endfor %}
    </ul>

    <h3 class="nav__title" style="padding-left: 0;"><i class="fas fa-fw fa-link"></i> LINKS</h3>
    <ul class="nav__items">
      {% for item in site.data.navigation.sidebar_links %}
      <li><a href="{{ item.url | relative_url }}" class="nav__sub-title">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  </nav>
</div>
{% endif %}